.app-div {
    margin-bottom: 18px;
    display: flex;
    width: 100%;
  }

.fifty {
  width: 50%;
}

.thirty {
  width: 33%;
}

.mat-card {
  margin-bottom: 18px;
}

.lap-line {
  display: flex;
  width: 100%;
}

.lap-number {
  width:30%;
}

.lap-time {
  width:70%;
}