<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-6 col-xl-6">
      <mat-list>
        <mat-list-item class="list-title">
          <div>Personnal best laps</div>
        </mat-list-item>
        <mat-list-item *ngFor="let lap of this.personnalBestLaps;let i = index" [class.alt-line]="i%2 == 1">
          <div class="lap-line">
            <div class="thirty">
              <img src="assets/flags/{{ lap.country }}.png" class="flag" />{{ lap.name }}
            </div>
            <div class="thirty cell-middle">
              <img src="assets/flags/{{lap.user_country}}.png" class="flag" />
              {{ lap.nickname }}
            </div>
            <div class="thirty cell-right">
              <span>{{ lap.time }}</span>
            </div>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="col-md-12 col-lg-6 col-xl-6">
      <mat-list>
        <mat-list-item class="list-title">
          <div>Best laps</div>
        </mat-list-item>
        <mat-list-item *ngFor="let lap of this.bestLaps;let i = index" [class.alt-line]="i%2 == 1">
          <div class="lap-line">
            <div class="thirty">
              <img src="assets/flags/{{ lap.country }}.png" class="flag" />{{ lap.name }}
            </div>
            <div class="thirty cell-middle">
              <img src="assets/flags/{{lap.user_country}}.png" class="flag" />
              {{ lap.nickname }}
            </div>
            <div class="thirty cell-right">
              <span>{{ lap.time }}</span>
            </div>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>