<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-6 col-xl-6">
      <mat-list>
        <mat-list-item class="list-title">
          <div><span i18n="My best laps | Title">My best laps</span></div>
        </mat-list-item>
        <mat-list-item *ngFor="let lap of this.personnalBestLaps;let i = index" [class.alt-line]="i%2 == 1">
          <div class="lap-line">
            <div class="thirty">
              <img src="assets/flags/{{ lap.country }}.png" class="flag" />{{ lap.name }}
            </div>
            <div class="thirty cell-middle">
              {{ lap.nickname }}
            </div>
            <div class="thirty cell-right">
              <span *ngIf="lap.time > lap.best_time">{{ lap.time | number:'1.3-3'}}<br /><span class="diff" >+{{ lap.time - lap.best_time | number:'1.3-4' }}</span></span>
              <span *ngIf="lap.time <= lap.best_time"><img src="assets/icons/trophy-gold.svg" class="trophy"><span class="best-lap">{{ lap.time | number:'1.3-3'}}</span></span>
            </div>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="col-md-12 col-lg-6 col-xl-6">
      <mat-list>
        <mat-list-item class="list-title">
          <div><span i18n="My best laps | Tracks records">Tracks records</span></div>
        </mat-list-item>
        <mat-list-item *ngFor="let lap of this.bestLaps;let i = index" [class.alt-line]="i%2 == 1">
          <div class="lap-line">
            <div class="thirty">
              <img src="assets/flags/{{ lap.country }}.png" class="flag" />{{ lap.name }}
            </div>
            <div class="thirty cell-middle">
              {{ lap.nickname }}
            </div>
            <div class="thirty cell-right">
              <span>{{ lap.time | number:'1.3-3' }}</span>
            </div>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>