<div class="app-div">
  <mat-card *ngFor="let race of races">
    <mat-card-content>
      <mat-list>
        <mat-list-item class="list-title">
          <div class="lap-line">
            <div class="twenty">
              <div class="race-info">
                <div class="race-info-picto"><mat-icon aria-hidden="false" aria-label="Example home icon">date_range</mat-icon></div>
                <div>{{ race.created_at | date:'d/MM/y HH:mm' }}</div>
              </div>
            </div>
            <div class="sixty cell-middle">
              <div class="list-title-content">
                <div class="title">{{ race.position == 1 ? race.position+'er' : race.position+'ème' }} - {{ race.name }}, {{race.country }}</div>
                <div class="sub-title">Circuit rallycross : {{ race.length | number }} m - ({{ race.asphalt }}% asphalt et {{ race.gravel }}% gravel)</div>
              </div>
            </div>
            <div class="twenty cell-right">
              <div class="race-info">
                <div>{{ race.time }}</div>
                <div class="race-info-picto"><mat-icon aria-hidden="false" aria-label="Example home icon">timer</mat-icon></div>
              </div>
            </div>
          </div>
        </mat-list-item>
        <mat-list-item *ngFor="let lap of race.laps;let i = index" [class.alt-line]="i%2 == 1">
          <div class="lap-line">
            <div class="fifty">
              Tour {{ lap.lap +1 }}
            </div>
            <div class="fifty lap-time">
              {{ lap.time | number }}
            </div>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
        <!--<mat-list-item class="last-line">
          <div class="lap-line">
            <div class="lap-number">
             <b>Total</b>
            </div>
            <div class="lap-time">
              <b>{{ race.time }}</b>
            </div>
          </div>
        </mat-list-item>-->
        </mat-list>
    </mat-card-content>
  </mat-card>


</div>
<div class="footer">
  <mat-paginator [length]="50" [pageSizeOptions]="[50, 100, 250]" >
  </mat-paginator>
</div>
<!--(page)="onPageChanged($event)"
    <mat-card>
      <mat-card-title>Circuit Rallycross</mat-card-title>
      <mat-card-subtitle>longueur 1 149 m - (60% bitume et 40% off-road)</mat-card-subtitle>
      <mat-card-content>
        <img src="../../../assets/tracks/mettet.jpg">
      </mat-card-content>
      <mat-card-actions></mat-card-actions>
      <mat-card-footer></mat-card-footer>
    </mat-card>
    -->