.app-div {
  margin-bottom: 70px;
}

.mat-card {
  margin-bottom: 18px;
}

.lap-line {
  display: flex;
  width: 100%;
}

.lap-number {
  width:30%;
}

.lap-time {
  width:70%;
}

.race-info {
  display: flex;
  align-items: center;
}

.race-info-picto {
  margin-right: 5px;
}

.footer {
  background-color: #393939;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: fixed;
  z-index: 10;
}